<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Slims</title>
    <link rel="stylesheet" href="/build/production/resources/css/slims.css">
<link rel="stylesheet" href="/build/production/resources/Slims-all.css"/>
<script type="text/javascript" src="/build/production/app.js"></script>
</head>
<body></body>
</html>