<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>SLIMS</title>
    <link rel="stylesheet" href="{{ asset('build/production/resources/css/slims.css') }}">
    <link rel="stylesheet" href="{{ asset('build/production/resources/Slims-all.css') }}"/>
    <script type="text/javascript" src="{{ asset('build/production/app.js') }}"></script>
</head>
<body></body>
</html>