#title {
    background: url("../images/glasses.png") no-repeat;
    padding-left: 50px;
    padding-bottom: 5px;
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
}

.jumbotron {
    margin-top: 30px;
}